.navbar {
    background-color: transparent; /* Arrière-plan transparent pour la navbar */
}
.navbar-brand {
    display: flex;
    align-items: center;
}
.navbar-brand img {
    margin-right: 10px; /* Espace entre l'image et le texte */
}
.Titre {
    text-align: center;
}
.bouton-espace {
    margin-bottom: 6vh;
    align-items: center;
    background-color: #b2b6f4;
    border-radius: 20px;
    
}
.no-wrap {
    white-space: nowrap;
}
.bouton-menu{
    padding-right: 100vw;
}
.btn-custom:hover{
    background-color: #989eee; /* Changez la couleur en fonction de votre préférence */
    border-color: #3e43a4; /* Changez la couleur du texte en fonction de votre préférence */
}

.btn-block{
    display: block;
    height: 100%;
    width: 100%;
}
.logo{
    margin-top: 1vh;
    left:0;
}
.justify-content-pace-evenly{
    justify-content: space-evenly;
}