{% set whereami = "Accueil" %}

{{ include('/base.html.twig')}}
<head>
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
</head>
<body style="background-image:url({{ asset('img/background_mountain.png')}})">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-3 text-center">
                <img src={{ asset('img/logo.png')}} width="140" height="140" class="mx-auto d-block logo" alt="Alternanza">
            </div>

            <div class="col-md-6 text-center">
                <div class="Titre font-weight-bold display-4 color-white"><h1>Trouve ton<br>Alternance</h1></div>
            </div>
            <div class="col-md-3 text-right">
                <div class="d-flex justify-content-center">
                <span class="btn bouton-espace btn-custom no-wrap color-white "><b>Espace école</b></span>
                <span class="btn bouton-espace btn-custom no-wrap color-white  "><b>Espace entreprise</b></span>
                </div>
            </div>
        </div>
    </div>




    <div class="container_custom">
        <span onclick="window.location='/intern'" class="left-panel_custom d-flex justify-content-center align-items-center">
            <div class="text_custom color-white">
                <h2>Trouve ton apprentis</h2>
            </div>
        </span>
        <div onclick="window.location='/company'" class="right-panel_custom d-flex justify-content-center align-items-center">
            <div class="text_custom color-white">
                <h2>Trouve ton entreprise</h2>
            </div>
        </div>
    </div>

</body>
