{% set whereami = "Accueil" %}

{{ include('/base.html.twig')}}
<head>
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
</head>
<body style="background-image:url({{ asset('img/background_mountain.png')}})">
    {{ include('navBar/navbar.html.twig') }}
    <div class="container_custom">
        <span onclick="window.location='/presentation?who=intern'" class="left-panel_custom d-flex justify-content-center align-items-center">
            <div class="text_custom color-white">
                <h2 class="responsive-text">Trouve ton entreprise</h2>
            </div>
        </span>
        <div onclick="window.location='/presentation?who=company'" class="right-panel_custom d-flex justify-content-center align-items-center">
            <div class="text_custom color-white">
                <h2>Trouve ton apprentis</h2>
            </div>
        </div>
    </div>

</body>
