
<link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" rel="stylesheet">
<link href={{ asset('css/loginModal/loginPage.css') }} rel="stylesheet">

<div class="modal-header">
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<form class="ui form">
    <i class="user circle outline icon medium" style="visibility: visible;"></i>
    <div class="field">
        <label>
            Username
            <input type="text" name="username" placeholder="Username">
        </label>
    </div>
    <div class="field">
        <label>
            Password
            <input type="text" name="password" placeholder="Password">
        </label>
    </div>
    <div class="field">
        <div class="ui checkbox">
            <input type="checkbox" tabindex="0" class="hidden">
            <label>I agree to the Terms and Conditions</label>
        </div>
    </div>
    <button class="ui button green" type="submit">Envoyer</button>
</form>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js"></script>

